<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html,body{
            height: 100%;
            box-sizing: border-box;
        }
        .father{
            padding: 20px;
            border: solid 1px red;
            height: 100%;
            box-sizing: border-box;
        }
        .child{
            height: 1000px;
            box-sizing: border-box;
            border: solid 1px green;
        }
    </style>
</head>
<body>
    <div class="father">
        <div class="child">

        </div>
    </div>
</body>
</html>
